* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Nunito', sans-serif;
    color: #240041
}

.header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 20vh;
    color: #eee;
    background: #240041;
}

    .enunciado {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: left
    }

    .enunciado h1 {
        text-transform: uppercase;
        font-weight: 800
    }

.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

    .section {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2em 0
    }

        .table {
            width: 100%;
        }

            tr {
                height: 60px;
                padding: 1em 0;
                vertical-align: middle;
                display: table-row
            }

                td {
                    
                border-bottom: 1px solid #240041;
                }

            th {
                text-align: left
            }

            .btn-editar {
                outline: none;
                font-family: 'Nunito', sans-serif;
                font-weight: 800;
                color: #ffffff;
                border: none;
                padding: .5em 2em;
                margin: 0 1em 0 0;
                background: #15cda8;
                border-radius: 5px;
                cursor: pointer;
            }

                .btn-editar:hover {
                    background: #a9eec2;
                    transition: .2s
                }

            .btn-eliminar {
                outline: none;
                font-family: 'Nunito', sans-serif;
                font-weight: 800;
                color: #ffffff;
                border: none;
                padding: .5em 2em;
                background: #ff4057;
                border-radius: 5px;
                cursor: pointer;
            }

                .btn-eliminar:hover {
                    background: #ff8260;
                    transition: .2s
                }

                .form-group {
                    width: 100%;
                }

                    .form-group h5 {
                        font-size: 1rem
                    }

                    input[type="text"] {
                        width: 100%;
                        padding: .5em;
                        margin: .5em 0 1em 0;
                        font-family: 'Nunito', sans-serif;
                        font-weight: 400;
                        font-size: 1rem;
                        color: #240041;
                        border: 1px solid #eeeeee;
                        border-radius: 5px;
                        outline: none;
                    }

                        input[type="text"]::placeholder {
                            font-family: 'Nunito', sans-serif;
                            font-weight: 400;
                            color: #e8e8e8;
                        }
        